figure {
  margin: 15px 0;
}

figcaption {
  text-align: center;
}

.grayscale {
  filter: grayscale(0);
}

.grayscale:hover {
  filter: grayscale(50%)
}

.my_gallery {

  /*margin-top: 15%;*/
  /*margin-left: 10%;*/
}

.my_gallery figcaption {
  /*text-align: center;*/
}