{% extends 'zoo/base.html' %}

{% load static %}

{% block title %}Model Zoo / Face Detection{% endblock %}

{% block stylesheets %}
    <link href="{% static 'zoo/css/uploadImages.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}

<div>
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="drop-area">
        <p>Загрузить изображение с помощью диалога выбора файлов или перетащив нужное изображение в выделенную область</p>
         {% for field in form %}
            <label id="input_img_label" for="{{ field.auto_id  }}">{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        </div>
        <button type="submit" >Upload</button>
    </form>

    <div id="foo"></div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'zoo/js/uploadImages.js' %}"></script>
{% endblock %}